.mobile-horizontal-line{
    display: none;
}
.title-projects{
    font-size:3rem;
    color: white;
    font-weight: bold;
    background-color:#212529;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    padding: 2em;
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s;
    border-radius: 10px;
    margin: 50px;
}

.projects{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 22px 50px 1px;
    background-color: #252a2e;
}
.projects:hover{
    transform: scale(1.03);
}

.project-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border: 2px solid white;
    border-radius: 100%;
}
.project-image{
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.project-title{
    padding-top: 1em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: fit-content;
}
.project-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}
.project-text{
    margin: 0.25em;
    font-size: 1.25rem;
    min-height: 60px; /* min height to make things even on both sides */
    display:flex;
}
.project-buttons-container{
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-buttons{
    color: white;
    background: none;
    text-decoration: none;
    padding: 0.1em 0.4em;
    border: 2px solid white;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    margin: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.project-buttons:hover{
    background: white;
    color: black;
}
.project-software-container{
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-software{
    color: white;
    background-color: rgb(70, 70, 70);
    text-decoration: none;
    padding: 0.2em 0.5em;
    border: 0;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    margin: 0.5rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
#javascript:hover{
    background-color: yellow;
    color: black;
}
#css:hover{
    background-color: #2965f1;
    color: white;
}
#html:hover{
    background-color: #F16529;
    color: white;
}
#mongo:hover{
    background-color: #4DB33B;
    color: black;
}
#node:hover{
    background-color: #3c873a;
    color: white; 
}
#react:hover{
    background-color: #61DBFB;
    color: black;
}


@media only screen and (max-width: 913px) { 
    .projects-container{
        display: flex;
        flex-direction: column;
    }
    .projects{
        width: 90%;
        height: fit-content;
    }
    .project-text-container{
        width: 100%;
        border-radius: 1vh;
    }
    .project-projects{
        width: 90%;
    }
    .project-text-container{
        width: 80%;
    }
    .mobile-horizontal-line{
        display: block;
        width: 90%;
        background-color:white;
        height: 0.2vh;
    }
}