:root{
    --mobile-animation-time: 0.5s;
}

.navBar{
    background: #f3f3f3;
    transition: all 0.4s;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 6em;
    box-shadow:0;
}
.navBar-container{
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBar-title{
    color: black;
    font-size: 1.4rem;
    text-decoration: none;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.navBar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navBar li{
    padding: 0rem 1.5rem;
    position: relative;
}
#navBar-links{
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.3s;
    padding: 0.6em;
    border-radius: 10px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
#navBar-links:hover { 
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.navMenu{
    display: none;
}
.navBar-Scrolled{
    height: 3.5em;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}
/* mobile burger menu */
@media only screen and (max-width: 820px) {
    .navBar{
        display: none;
    }
    .navMenu {
        position: fixed;
        z-index: 1;
        height: 5rem;
        display: block;
        position:fixed;
        width: 100%;
    }
    .navBar-title-mobile{
        color: black;
        height: fit-content;
        padding: 0.5em 1em;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .mobile-container{
        width: 100%;
        height: 5rem;
        background: var(--background-gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        font-size:1.5rem ;
    }
    .navbar-open{
        background-color:rgb(233, 233, 233);
        animation: var(--mobile-animation-time) ease-in-out 0s 1 changeNavbarColour;
    }
    @keyframes changeNavbarColour {
        0% {
            background-color: var(--background-gray)
        }
        20% {
            background-color: rgb(233, 233, 233);
        }
    }
    .navbar-closed{
        background-color:var(--background-gray);
        animation: var(--mobile-animation-time) ease-in-out 0s 1 Reverse-Navbar-colour;
    }
    @keyframes Reverse-Navbar-colour {
        0% {
            background-color: rgb(233, 233, 233);
        }
        90% {
            background-color: var(--background-gray);
        }
    }
    .link-container {
        display: none;
        position: relative;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        background:rgb(233, 233, 233);
        height: 100vh;
        margin: 0;
        transition: all var(--mobile-animation-time) ease-in-out;
        overflow:hidden
    }
    .link{
        color: black;
        width: 100%;
        height: 50px;
        text-decoration: none;
        display: flex;
        align-items: center;
        position: relative;
        top: 25px;
        transition: all var(--mobile-animation-time) ease-in-out;
        transition-delay: 0.1s

    }
    .link a{
        width: 90%;
        height: 100%;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }

    .links-closed{
        display: flex;
        height: 0vh;
        visibility: hidden;
        background-color: var(--background-gray);
    }
    .link-hidden{
        visibility: hidden;
        opacity: 0;
    }
    .links-open{
        display: flex;
        visibility: visible;
        animation: var(--mobile-animation-time) ease-in-out 0s 1 Open-Menu;
    }
    @keyframes Open-Menu {
        0% {
            height: 0;
            background-color: var(--background-gray)
        }
        25%{
            background-color: rgb(233, 233, 233);
        }
        100% {
            height: 100vh;
            background-color: rgb(233, 233, 233);
        }
    }
    .about::before,
    .resume::before,
    .contact::before{
        width: 90%;
        height: 1px;
        background: rgb(129, 129, 129);
        transform: translateY(-25px);
        content: '';
        position: absolute;
    }
    .icon{
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 0;
        width: 70px;
        height: 45px;
        border-radius: 20px;
        color: black;
        font-size: 0.9em;
        background-color: inherit;
    }
    .menu-burger{
        display: flex;
        background: black;
        height: 2px;
        width: 25px;
        margin: 3px;
        border-radius: 5px;
        transition: all  0.25s ease-in-out;
    }
    .menu-burger::before,
    .menu-burger::after{
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background: black;
        border-radius: 5px;
        transition: all  0.25s ease-in-out;
    }
    .menu-burger::before{
        transform: translateY(-10px);
    }
    .menu-burger::after{
        transform: translateY(10px);
    }
    /* animation */
    .icon.open .menu-burger{
        transform: translateX(-50px);
        background: transparent;
    }
    .icon.open .menu-burger::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    .icon.open .menu-burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
}   