@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lato";   /*Can be any text*/
    src: local("Lato-Light"),
      url("../fonts/Lato-Light.ttf") format("truetype");
  }

html{
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
    font-family: lato;
    margin: 0;
    padding: 0;
    background: var(--theme-color);
    overflow-x:hidden;
}

.random{
    border: 1px;
}
:root{
    --btn-gray: rgb(201, 201, 201);
    --background-gray:#f3f3f3;
    --content-gray:#212529;

    --black-back: #0d1216;
    --font-color:white;
    --theme-color:#f8f9fa;

    --navbar-font-color: white;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
button{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
